* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v19_423 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_424 {
  width: 515px;
  height: 415px;
  background: rgba(248,229,255,1);
  opacity: 1;
  position: absolute;
  top: 372px;
  left: 462px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v19_425 {
  width: 269px;
  height: 234px;
  background: url("images/v19_425.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 585px;
  overflow: hidden;
}
.v19_426 {
  width: 219px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 610px;
  font-family: Italiana;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v64_2 {
  width: 448px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 496px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v64_3 {
  width: 448px;
  color: rgba(140,138,138,1);
  position: absolute;
  top: 464px;
  left: 496px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v19_427 {
  width: 448px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 495px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v19_428 {
  width: 448px;
  color: rgba(140,138,138,1);
  position: absolute;
  top: 512px;
  left: 495px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v19_429 {
  width: 448px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 558px;
  left: 495px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v19_430 {
  width: 448px;
  color: rgba(140,138,138,1);
  position: absolute;
  top: 561px;
  left: 495px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v19_458 {
  width: 448px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 607px;
  left: 495px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v19_459 {
  width: 448px;
  color: rgba(140,138,138,1);
  position: absolute;
  top: 610px;
  left: 495px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v60_2 {
  width: 448px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 656px;
  left: 495px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v60_3 {
  width: 448px;
  color: rgba(140,138,138,1);
  position: absolute;
  top: 659px;
  left: 495px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v19_431 {
  width: 448px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 495px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v19_432 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 711px;
  left: 639px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v19_433 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 386px;
  left: 472px;
  border-radius: 50%;
}
.v19_434 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 386px;
  left: 954px;
  border-radius: 50%;
}
.v19_435 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 763px;
  left: 475px;
  border-radius: 50%;
}
.v19_436 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 763px;
  left: 957px;
  border-radius: 50%;
}
.v19_437 {
  width: 83px;
  height: 39px;
  background: url("../images/v19_437.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 1147px;
  overflow: hidden;
}
.v19_438 {
  width: 82px;
  height: 39px;
  background: rgba(230,189,244,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v19_439 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 28px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v19_440 {
  width: 21px;
  height: 21px;
  background: url("images/v19_440.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 7px;
  overflow: hidden;
}
.v19_454 {
  width: 83px;
  height: 39px;
  background: url("../images/v19_454.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 1257px;
  overflow: hidden;
}
.v19_455 {
  width: 82px;
  height: 39px;
  background: rgba(230,189,244,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v19_456 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 27px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v19_457 {
  width: 21px;
  height: 21px;
  background: url("images/v19_457.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 7px;
  overflow: hidden;
}
