<html layout:decorate="~{layout}">
<div layout:fragment="comment" class="container">
  <h5 class="my-3 border-bottom pb-2">게시글 등록</h5>
  <form th:action="@{/post/create}" th:object="${postForm}" method="post">
      <div th:replace="~{form_errors :: formErrorsFragment}"></div>
      <div class="mb-3">
      <label for="subject" class="form-label">제목</label>
      <input type="text" th:field="*{subject}" class="form-control">
    </div>
    <!--이미지 넣기
    <div class="mb-3">
            <label for="image" class="form-label">이미지 업로드</label>
            <input type="file" id="image" name="image" accept="image/*" onchange="previewImage(this)" class="form-control">
            <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 100%; max-height: 200px; display: none;">
     </div>
      -->
    <input type="submit" value="저장하기" class="btn btn-primary my-2">
  </form>
</div>
</html>
